@using CupKeeper.Domains.Championships.ViewModel
<a class="underline decoration-wavy decoration-indigo-500 decoration-1" href=@($"/events/{Item.Id}")>@(Item.Id.ToString().Split("-").First())...</a>
@code {
    [Parameter] public EventViewModel Item { get; set; } = null!;
}