<div class="bg-gray-800 sm:p-3 lg:p-6 flex flex-col rounded shadow-lg">
    <div class="flex-grow text-sm">@Content</div>
    <div class="flex justify-end font-bold text-xl">@Title</div>
</div>
@code {
    [Parameter]
    public RenderFragment Title { get; set; } = null!;

    [Parameter]
    public RenderFragment Content { get; set; } = null!;
}
