* {
    box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  color: #3d3d3d;
  --red: #b01f26;
  --dark-red: #661217;
  --blue: #15204a;
  --default: rgba(0, 0, 0, 0.025);;
  --default-border: #efefef;
  --warning: #FFD375;
  --warning-border: #C7922F;
  background: var(--default);
}

h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: normal; color: #000; }

a { text-decoration: none; color: var(--red); }
a:hover { color: var(--dark-red); text-decoration: underline; }

.app {
    z-index: 0;
}

.triangle {
    position: fixed;
    top: 0px;
    z-index: 0;
    width: 160%;
    height: auto;
    left: -200px;
}

.page {
    z-index: 100;
    position: relative;
}

header#Header {
  background: var(--red);
  display: flex;
  padding: 30px;
  justify-content: center;
  flex-flow: row wrap;
}

header#Header img { width: 100%; max-width: 400px; }

header#Header .br { width: 100%; }

header#Header div[role="banner"] img { 
    max-width: 400px;
    height: auto;
}

nav#Menu {
    display: block;
    padding: 30px 0;
}

nav#Menu ul,
nav#Menu li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}



nav#Menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px 10px;
    margin: 5px;
}

nav#Menu li:hover,
nav#Menu li.active {
    background: #fff;
    transform: skewX(-40deg);
}

nav#Menu li:hover>a,
nav#Menu li.active>a {
    color: var(--blue);
    transform: skew(40deg);
}

.btn {
    display: inline-block;
    padding: 8px 15px 10px;
    border: solid 2px var(--blue);
    border-radius: 0px;
    color: var(--blue);
    transition: all ease-in-out 0.25s;
    margin: 15px 0;
    
}
.btn:hover {
    border-color: var(--blue);
    background: #fff;
    color: var(--blue);
}

.btn.btn-inverse {
    background: #fff;
    border-color: #fff;
    color: var(--blue);
}

.text-inverse {
    color: #fff;
}

.text-large { font-size: 1.5rem; line-height: 1.5em; }

.text-center { text-align: center; }

.document {
    box-sizing: border-box;
    margin: 30px auto;
    width: 100%;
    max-width: 1200px;
    padding: 60px;
    background: #fff;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.document h1,
.document h2, 
.document h3,
.document h4,
.document h5,
.document h6 {
    margin-bottom: 10px;
}

.document.document-data {
    max-width: 95% !important;
}

.document p { text-align: justify; line-height: 2em; }

.table {
    border: solid 1px var(--default-border);
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px 15px;
}

.table th {
    background-color: var(--default-border);
    text-align: left;
}

.table-data { 
    width: 100%;
}

.table-data td {
    font-size: 85%;
}

.table-data tbody tr:nth-child(odd) {
    background: var(--default);
}

.table-cell-total {
    font-weight: bold;
}

.message {
    padding: 15px;
    margin: 0 0 15px;
    border: solid 2px var(--default-border);
    background: var(--default);
}

.message-warning {
    background: var(--warning);
    border-color: var(--warning-border);
}

label {
    display: block;
    margin: 0 0 5px;
}

.input-field { 
    padding: 10px 15px;
    border-radius: 0px;
    margin: 0 0 15px; 
    border-color: #ccc;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row .card-wrapper {
    width: 33%;
}

.card {
    margin: 15px;
    border: solid 1px var(--default-border);
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.card-title {
    background: var(--default-border);
    padding: 15px;
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px 15px;
    flex-grow: 1;
    align-self: flex-start;
}

.card-body > * { margin: 0; }

.card-footer {
    margin: 0px;
    padding: 0 15px;
}

.w-100 { width: 100%; }

.btn-primary {
    background: var(--blue);
    border-color: var(--blue);
    color: #efefef;
    text-align: center;
}

@media all and (max-width: 600px) {

    .page {
        background: var(--blue);
    }

    .row .card-wrapper { width: 100%; }

    .hide-phone {
        display: none !important;
    }

    .block-phone {
        display: block !important;
        text-align: center;
        width: 100%;
    }

    .block-phone > * {
        text-align: center;
        width: 100% !important;
        margin: 15px 0;
    }
}